<div class="card">
  <ul>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="job-item">
        <div class="company-icon">
          <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png" />
          <img src="../../../../assets/images/shared/aws.png" />
        </div>
        <div class="company-content">
          <div class="company-content-brief">
            <a [routerLink]="['/job']">
              <h3><b>Web UI Architect</b></h3>
            </a>
            <h4><b>Westpac New Zealand Limited</b></h4>
            <h5>Auckland, NZ</h5>
          </div>
          <div class="favorite-day">
            <button mat-icon-button color="warn">
              <mat-icon>favorite</mat-icon>
            </button>
            <p>12 d</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
