<div class="container jobs_list" >
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img *ngIf="errorimages" src="../../../../assets/images/shared/guilty-icon-12.png"
        style="width: 56px; height: 56px;" />
      <img src="../../../../assets/images/shared/aws.png" style="width: 56px; height: 56px;" />
    </div>
    <div class="col-8">
      <a [routerLink]="['/job']">
        <h5><b>Web UI Architect</b></h5>
      </a>
      <span style="font-size: 0.9rem;"><b>Westpac New Zealand Limited</b></span><br>
      <span style="font-size: 0.7rem">Auckland, NZ</span><br>
    </div>
    <div class="col-2">
      <button mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
      <p style="font-size: 0.8rem; text-align: center;">12 d</p>
    </div>
  </div>
</div>
