footer.main-footer {
  width: 100%;
  height: 3rem;
  background: #2f333e;
  color: #fff;
  /* padding: 20px 10px; */
}

.contentdiv {
  padding-top: 0.8rem;
}

.footleft {
  margin-left: 1rem;
}

.footright {
  float: right;
  margin-right: 1rem;
}