<div class="card">
  <div class="job-detail pt-4 ph-3" id="jobcontent">
    <div class="job-view-layout">
      <div class="job-detail-main-content relative" >
        <div class="relative" id="jobcontent">
          <div class="job-box">
            <div class="job-detail-top-card">
              <div class="content-container">
                <h1 *ngIf="action">{{action.title}}</h1>
                <div class="company-info">
                  <span *ngIf="action && action.principal != ''">{{action.principal}}&nbsp;&middot;</span>
                  <span *ngIf="action">{{action.location_name}}</span>
                </div>
                <div class="actions display-flex align-items-center">
                  <div class="job-apply" *ngIf="action">
                    <a href="{{action.link}}" style="text-decoration:none">
                      <button class="job-apply-button">
                        <span>Link to the web</span>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <article>
            <div [innerHTML]="descri" *ngIf="descri" style="padding:1rem;"></div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
