<div class="card" style="max-height: 48.375rem">
  <div class="job-detail pt-4 ph-3">
    <div class="job-view-layout">
      <div class="job-detail-main-content relative">
        <div class="relative">
          <div class="job-box">
            <div class="job-detail-top-card">
              <div class="company-logo">
                <img src="../../../../assets/images/shared/aws.png" />
              </div>
              <div class="content-container">
                <h1>.Net Developer - Angular 2/4/6</h1>
                <div class="company-info">
                  <span>Talent</span>&nbsp;&middot;
                  <span>Auckland</span>
                </div>
                <p class="job-info">
                  <span>Posted 2 weeks ago</span>&nbsp;&middot;
                  <span>74 views</span>
                </p>
                <div class="actions display-flex align-items-center">
                  <button class="save-button">
                    <span>Save</span>
                  </button>
                  <div class="job-apply">
                      <button class="job-apply-button">
                          <span>Apply</span>
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=""></div>
        </div>
      </div>
    </div>
  </div>
</div>
