.card-header {
  margin-top: 0.5rem;
}

mat-form-field {
  margin-right: 1.5rem;
}

.search-bar {
  width: 20rem;
}

.search-dropdown {
  width: 13rem;
}

@media screen and (max-width: 1199px){
  .search-bar {
    width:20rem;
  }
  .search-sropdown {
    width: 20rem;
  }
}

/* @media screen and (min-width: 992px) {
  .search-bar {
    width: 20rem;
  }
  .search-dropdown {
    width: 20rem;
  }
} */

.filterbar-right{
  text-align:center;
  display: -webkit-flex;
}

.search-button {
  
}

.mat-icon-span {
  /* margin-left: 1rem; */
}

.mat-icon {
  /* position: relative;
  top: 0.5rem;
  left: 0.3rem; */
}
