<div class="card">
  <div class="page-content align-items-stretch row">
    <mat-form-field class="col-3 search-bar">
      <input matInput placeholder="Search by keywords" [(ngModel)]="keyword">
    </mat-form-field>
    <mat-form-field class="col-3">
      <mat-label>Industries</mat-label>
      <mat-select [(ngModel)]="industryId">
        <mat-option *ngFor="let i of jobDis" value="{{i.discipline_num}}">{{i.discipline_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-2">
      <mat-label>Location</mat-label>
      <mat-select [(ngModel)]="locationId">
        <mat-option *ngFor="let i of jobLoc" value="{{i.location_num}}">{{i.location_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-2">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="typeId">
        <mat-option *ngFor="let i of jobType" value="{{i.type_num}}">{{i.type_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-2 btn-css">
      <button mat-raised-button color="primary" (click)="onSearch(null)">Search</button>
      <span class="mat-icon-span">
        <mat-icon class="mat-icon">tune</mat-icon>
        Filter
      </span>
    </div>
  </div>
</div>
<div class="sordby-bar">
    <mat-form-field class="font-12">
      <mat-label>Sord by</mat-label>
      <select matNativeControl required>
        <option value="relevance">Relevance</option>
        <option value="postdate">Post date</option>
      </select>
    </mat-form-field>
  </div>
