<div class="card">
  <div class="page-content align-items-stretch row">
    <mat-form-field class="col-3 search-bar">
      <input matInput placeholder="Search by keywords">
    </mat-form-field>
    <mat-form-field class="col-3">
      <mat-label>Industries</mat-label>
      <mat-select>
        <mat-option value="accounting">Accounting</mat-option>
        <mat-option value="banking">Banking</mat-option>
        <mat-option value="computing">Computing</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-2">
      <mat-label>Location</mat-label>
      <mat-select>
        <mat-option value="auckland">Auckland</mat-option>
        <mat-option value="hamilton">Hamilton</mat-option>
        <mat-option value="waihi">Waihi</mat-option>
        <mat-option value="wellington">Wellington</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-2">
      <mat-label>Type</mat-label>
      <mat-select>
        <mat-option value="fulltime">Full Time</mat-option>
        <mat-option value="parttime">Part Time</mat-option>
        <mat-option value="contract">Contract</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-2 btn-css">
      <button mat-raised-button color="primary" (click)="openDialog()">Search</button>
      <span class="mat-icon-span">
        <mat-icon class="mat-icon">tune</mat-icon>
        Filter
      </span>
    </div>
  </div>
</div>
