<div class="copy col-sm-9">
  <h1>EUC Application Specialist</h1>
  <div class="spec">
    <ul>
      <li><span>Job type</span> Permanent</li>
      <li>
        <span>Region</span>
        Auckland&nbsp;
      </li>
      <li><span>Posted on</span> 1 July 2019</li>
      <li><span>Ref #</span> 415808</li>
    </ul>
  </div>
  <ul>
    <li>
      <div>Ownership and management of all EUC owned applications</div>
    </li>
    <li>Immediate start available
    </li>
    <li>Auckland CBD based
      <div></div>
    </li>
  </ul>
  <strong>Your new company in a nutshell<br></strong>Enterprise scale company based in Auckland CBD.<br>
  &nbsp;<br>
  <strong>The role</strong><br>You will be responsible for taking ownership of all EUC owned applications, including
  lifecycle, upgrade and roadmap management.<br>
  &nbsp;<br>
  <strong>Key skills required include: </strong><br>
  <ul>
    <li>7+ years' experience supporting applications, personal computer and telecommunication equipment
    </li>
    <li>Certificate in Computer Science or relevant course
    </li>
    <li>ITIL Foundation v3 desirable
    </li>
    <li>Relevant qualification including A+, MCSA, MCSE or CCA desirable
    </li>
    <li>Administration experience of Exchange and MS Active Directory users, groups and policies
    </li>
    <li>Excellent oral and written communication skills
    </li>
    <li>Strong relationship management skills</li>
  </ul>
  <strong>What's next?<br></strong>For further information please call Ednadine on 09 302 4810 or apply by clicking on
  the <strong>'Apply for this job' button.</strong><br>
  <u>NOTE for Overseas Enquiries and Non-NZ Residents:</u> <br>Whereas we welcome international enquiries, only
  applicants that are legally entitled to work in New Zealand and can make themselves available for interviews in New
  Zealand will be considered for advertised positions. <br>Others may not necessarily be responded to.<br>
  <p class="industry-link"><a href="/it-jobs/computer-operators/">View
      more Computer Operators Jobs</a></p>
  <div class="share-wrapper">
    <hr>
    <a class="addthis_button" href="//www.addthis.com/bookmark.php?v=300&amp;pubid=ra-5237c59249458b0d">
      Share this job
    </a>
  </div>
</div>
